{%  extends 'accounts/main.html' %}

{% load static %}
<style>

	h5{
		display: inline;
	}
	i{
		text-align: right;
		align-items: center;
		font-style: normal;
		margin-left: 35em;
	}
	fieldset{
		background-color: rgb(255, 255, 255);
		border-radius:10px;
		font-size:small;
		font-family:fantasy;
		margin-left:20px;

	}
	p h1{
		display: inline;
	}

	.card{
		margin-left: 0px;
		}
</style>

{% block content %}

<br>

<div class="row">	
	<div class="col-md-9">
		<h5 class="btn btn-sm btn-info align-content-center">JOBS</h5>
		
		<hr>
		<div class="card card-body">
			<a class="btn btn-sm btn-primary align-content-center" href="{% url 'create_job' %}">Post Job</a>
			<hr>
			{% for job in jobs %}
				<fieldset>
				<h5 style="display: inline;margin-right: 25rem;">{{job.title}}</h5>
				{% if request.user.email in job.email %}
				<small class="dropdown float-right"><a href="#" class="btn btn-primary btn-sm btn-block dropdown-toggle active float-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Detail</a>
					<small class="dropdown-menu">
						<li><a class="btn btn-sm btn-block btn-info" href="{% url 'proposals' job.id %}">Submitted proposal</a></li>
						<li><a class="btn btn-sm btn-block btn-info" href="{% url 'update_job' job.id %}" > Update Posted Jobs</a></li>
						<li><a class="btn btn-sm btn-block btn-danger" href="{% url 'delete_job' job.id %}"> Delete Posted Jobs</a></li>
					</small>
				</small>
				{% else %}

				<i class=" dropdown" text-align="right" ><a href="#" class="btn btn-primary btn-sm btn-block dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Detail  <span class="caret"></span></a>
					<i class="dropdown-menu">
						<li><a class="btn sm btn-sm btn-info" href="{% url 'apply' job.id %}">Submitted proposal</a></li>
					</i>
				</i>
				{% endif %}
				<hr>
					<p>{{job.description}}</p>
					<p>please use thejob code under when you fill the form <h1>{{job.jobCode}}</h1></p>
					<p>${{job.salary}}
					{{job.status }} the job posted by, {{job.customer}} {{job.date_created}} 
					</p>
					
				<hr>
			</fieldset>
			{% endfor %}
			
		</div>
	</div>

	<div class="col-md-3">
		<h5>Jobs:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Job</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>User</th>
					<th>Phone</th>
				</tr>

				{% for job in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<!-- <td>{{customer.email}}</td> -->
						<td><img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" ></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>


{% endblock %}

